button {
    font-family : inherit;
    font-size: 1em;
}
input {
    font-family : inherit;
    font-size: 1em;
}

.scroll-text {
 height: 50px;	
 overflow: hidden;
 position: relative;
 background: dimgrey;
 color: teal;
 border: 1px solid black;
}
.scroll-text p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(-100%);
 -webkit-transform:translateX(-100%);	
 transform:translateX(-100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-text 15s linear infinite;
 -webkit-animation: scroll-text 15s linear infinite;
 animation: scroll-text 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-text {
 0%   { -moz-transform: translateX(-100%); }
 100% { -moz-transform: translateX(100%); }
}
@-webkit-keyframes scroll-text {
 0%   { -webkit-transform: translateX(-100%); }
 100% { -webkit-transform: translateX(100%); }
}
@keyframes scroll-text {
 0%   { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 		
 }
 100% { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 
 }
}
